/*
** COMMON
****************************************
*/
body { font-size: 15px; overflow-x: hidden;}
.clear { clear: both; }
legend { font-size: 20px; }
.cut-logo { margin:10px auto; display: block; border-bottom: 1px solid #ccc; padding: 10px 35px; margin-bottom: 15px; }

/*
** HEADER
****************************************
*/
header .navbar-brand { padding: 4px 15px; width: 260px;}
	header .navbar-brand img { width: 50px; float: left; margin-right: 5px;}
	header .navbar-brand div { padding-top: 10px; }


/*
** QUESTIONNAIRE
****************************************
*/
#questionnaire-form { display: none; }
#loader { display: block;  }
	#loader h3 { text-align: center; margin-top:50px; }
	#loader img { display: block; margin:25px auto 0 auto; height: 60px; }
.questionnaire { margin-top: 30px; }
	.questionnaire .question { display: none; }
	.questionnaire .question:first-child { display: block; }
		.questionnaire .question .photo {  }
			.questionnaire .question .photo img { width: 100%; }
		.questionnaire .question .options {  }
			.questionnaire .question .options .checkbox+.checkbox, .radio+.radio { margin-top: 20px; }
/*
** SPACES
****************************************
*/
.space-10{height: 10px;}
.space-20{height: 20px;}
.space-40{height: 40px;}
.space-60{height: 60px;}
.space-80{height: 80px;}
.space-100{height: 100px;}
.space-150{height: 150px;}
.space-200{height: 200px;}